.big-image {
  width: 100%;
  padding-top: $space-x-large;
  padding-bottom: $space-x-large;
  background-color: #DDDDDD;
}

.big-image__inner {
  max-width: 580px;
}

@media screen and (max-width: $width-small) {
  .big-image__inner {
    max-width: 380px;
  }
}