.big-image {
  width: 100%;
  padding-top: $space-x-large * 1.5;
  padding-bottom: $space-x-large * 1.5;
  background-color: #F7EBEB;
}

.big-image--enjoy {
  background: url('../img/work/enjoy.jpg') top center no-repeat;
  background-size: cover;
  background-color: orange;
  color: white;
}

.big-image--minale {
  background: url('../img/work/minale-and-london.jpg') top center no-repeat;
  background-size: cover;
  background-color: #F7F9D7;
  color: white;
}

.big-image--venmo {
  background-color: #D8EFED;
}

.big-image--facebook {
  background-color: #F7F9D7;
}

.big-image__inner {
  max-width: 580px;
}

@media screen and (max-width: $width-small) {
  .big-image__inner {
    max-width: 380px;
  }
}
