.bio {
  display: inline-block;
  width: 33.333%;
  padding: 0 $space-medium;
  border-right: 1px solid #DDDDDD;
}

.bio--last {
  border: 0;
}

.bio__inner {
  max-width: 280px;
}

@media screen and (max-width: $width-medium) {
  .bio {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #DDDDDD;
  }

  .bio__inner {
    max-width: 380px;
    padding-top: $space-large;
    padding-bottom: $space-large;
  }
  
  .bio--first {
    padding-top: 0;
  }

  .bio--last {
    border: 0px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: $width-small) {
  .bio {
    padding: 0;
  }

  .bio__inner {
    max-width: 100%;
  }
}

.bio__avatar {
  max-width: 180px;
  margin-bottom: 10px;
}