.capabilities {
  width: 100%;
  padding-top: $space-large;
  padding-bottom: $space-large;
  background-color: #D8EFED;
}

.capability {
  display: inline-block;
  width: 50%;
  padding-top: $space-large;
  padding-bottom: $space-large;
  vertical-align: top;
}

.capability--first {
  border-right: 1px solid #DDDDDD;
}

@media screen and (max-width: $width-small) {
  .capability {
    display: block;
    width: 100%;
  }

  .capability--first {
    border-right: 0;
    border-bottom: 1px solid #DDDDDD;
  }
}

.capability__inner {
  max-width: 380px;
}
