@font-face {
  font-family: 'Apercu-regular';
  font-style: normal;
  font-weight: 400;
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/apercu_regular.woff') format('woff'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/apercu_regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Apercu-bold';
  font-style: normal;
  font-weight: 700;
  src: url('http://anothertompetty.github.io/work-we-do-site/fonts/apercu_bold.woff') format('woff'),
       url('http://anothertompetty.github.io/work-we-do-site/fonts/apercu_bold.ttf') format('truetype'),
}
