.founders {
  padding-top: $space-large;
  padding-bottom: $space-large;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.bio {
  display: inline-block;
  width: 33.333%;
  padding-top: $space-large;
  padding-bottom: $space-large;
  border-right: 1px solid #DDDDDD;
}

.bio--last {
  border: 0;
}

.bio__inner {
  max-width: 280px;
}

@media screen and (max-width: $width-small) {
  .bio {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #DDDDDD;
  }

  .bio--first {
    padding-top: 0;
  }

  .bio--last {
    border: 0px;
    padding-bottom: 0;
  }

  .bio__inner {
    max-width: 380px;
  }
}