.intro {
  max-width: 860px;
  margin-top: $space-x-large * 2;
  margin-bottom: $space-x-large * 2;
  padding-left: $space-medium;
  padding-right: $space-medium;
}

@media screen and (max-width: $width-mobile) {
  .intro {
    padding-left: $space-small;
    padding-right: $space-small;
  }
}