.intro {
  width: 100%;
  padding: $space-x-large * 2.5 $space-medium;
  background-color: #26E3B2;
  color: white;
}

.intro__inner {
  max-width: 780px;
}

@media screen and (max-width: $width-mobile) {
  .intro {
    padding: $space-x-large $space-small;
  }
}