.intro {
  width: 100%;
  padding: $space-x-large * 2.5 $space-medium;
}

.intro__inner {
  max-width: 780px;
  -webkit-font-smoothing: auto;
}

@media screen and (max-width: $width-mobile) {
  .intro {
    padding: $space-x-large $space-medium;
  }
}