* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-weight: $font-weight-normal;
  font-size: $text-medium;
  line-height: $line-height-medium;
  color: #222222;
  background-color: white;
}

.site-wrapper {
  max-width: $width-full;
  margin: 0 auto;
  padding: 0 $space-medium;
}