.logo {
  position: fixed;
  z-index: 3;
}

@media screen and (max-width: $width-small) {
  .logo {
    position: relative;
    display: block;
    width: 50px;
    margin: 0 auto;
    margin-top: $space-large / 2;
    margin-bottom: -50px; // offset where it's pushing down
  }
}

.logo:hover {
  -webkit-animation: spin 1s ease infinite;
  -moz-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }