.small-project {
  display: inline-block;
  width: 50%;
  padding-top: $space-large;
  padding-bottom: $space-large;
}

.small-project--first {
  border-right: 1px solid #DDDDDD;
}

.small-project__inner {
  max-width: 380px;
}