.u-text-x-large {
  font-size: $text-x-large;
  line-height: $line-height-x-large;
}

p.u-text-x-large {
  margin-bottom: $text-x-large / 2;
}

@media screen and (max-width: $width-small) {
  .u-text-x-large {
    font-size: $text-x-large / 1.333;
    line-height: $line-height-x-large / 1.333;
  }
}

@media screen and (max-width: $width-mobile) {
  .u-text-x-large {
    font-size: $text-x-large / 1.5;
    line-height: $line-height-x-large / 1.4;
  }
}

.u-text-large {
  font-size: $text-large;
  line-height: $line-height-large;
}

p.u-text-large {
  margin-bottom: $text-large / 2; 
}

@media screen and (max-width: $width-small) {
  .u-text-large {
    font-size: $text-medium;
    line-height: $line-height-medium;
  }

  p.u-text-large {
    margin-bottom: $text-medium / 2;
  }
}

.u-text-medium {
  font-size: $text-medium;
  line-height: $line-height-medium;
}

p.u-text-medium {
  margin-bottom: $text-medium / 2;
}

.u-text-small {
  font-size: $text-small;
  line-height: $line-height-small;
}

p.u-text-small {
  margin-bottom: $text-small / 2;
}

.u-text-x-small {
  font-size: $text-x-small;
  line-height: $line-height-x-small;
}

p.u-text-small {
  margin-bottom: $text-x-small / 2;
}

.u-text-normal {
  font-family: $font-primary;
  font-weight: normal;
}

.u-text-heavy {
  font-family: $font-primary-bold;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-italic {
  font-family: $font-primary;
  font-style: italic;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-color-primary {
  color: $color-primary;
}

.u-text-no-smoothing {
  -webkit-font-smoothing: subpixel-antialiased;
}