.u-text-x-large {
  font-size: $text-x-large;
  line-height: $line-height-x-large;
}

p.u-text-x-large {
  margin-bottom: 18px;
}

@media screen and (max-width: $width-small) {
  .u-text-x-large {
    font-size: $text-x-large / 1.333;
    line-height: $line-height-x-large / 1.333;
  }
}

.u-text-large {
  font-size: $text-large;
  line-height: $line-height-large;
}

p.u-text-large {
  margin-bottom: 12px;
}

@media screen and (max-width: $width-small) {
  .u-text-large {
    font-size: $text-large / 1.2;
    line-height: $line-height-large / 1.15;
  }

  p.u-text-large {
    margin-bottom: 10px;
  }
}

.u-text-medium {
  font-size: $text-medium;
  line-height: $line-height-medium;
}

p.u-text-medium {
  margin-bottom: 8px;
}

@media screen and (max-width: $width-small) {
  .u-text-medium {
    font-size: $text-medium / 1.1;
    line-height: $line-height-medium / 1.15;
  }

  p.u-text-medium {
    margin-bottom: 7px;
  }
}

.u-text-small {
  font-size: $text-small;
  line-height: $line-height-small;
}

p.u-text-small {
  margin-bottom: 6px;
}

.u-text-normal {
  font-weight: $font-weight-normal;
}

.u-text-heavy {
  font-weight: $font-weight-heavy;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-italic {
  font-family: $font-primary;
  font-style: italic;
}

.u-text-upper {
  text-transform: uppercase;
}

.u-text-no-smoothing {
  -webkit-font-smoothing: subpixel-antialiased;
}