$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-heavy: 700;

$text-x-large: 36px;
$text-large: 24px;
$text-medium: 16px;
$text-small: 12px;

$line-height-x-large: 46px;
$line-height-large: 32px;
$line-height-medium: 24px;
$line-height-small: 16px;

$space-x-large: 80px;
$space-large: 40px;
$space-medium: 20px;
$space-small: 12px;

$width-mobile: 480px;
$width-small: 720px;
$width-medium: 1024px;
$width-full: 1220px;
