@import "fonts";
$font-primary: 'Apercu-regular', 'Helvetica Neue', 'Helvetica', arial;
$font-primary-bold: 'Apercu-bold', 'Helvetica Neue', 'Helvetica', arial;

$font-weight-normal: 400;
$font-weight-heavy: 700;

$text-x-large: 36px;
$text-large: 24px;
$text-medium: 18px;
$text-small: 14px;

$line-height-x-large: 46px;
$line-height-large: 32px;
$line-height-medium: 26px;
$line-height-small: 18px;

$space-x-large: 80px;
$space-large: 40px;
$space-medium: 20px;
$space-small: 12px;

$width-mobile: 480px;
$width-small: 680px;
$width-medium: 860px;
$width-full: 1220px;
