---
layout: default
---
  
  <h1 class="intro u-text-x-large u-text-normal u-center u-text-center">
    A full-service design and strategy studio based in San Francisco and London.
  </h1>

  <div class="owl-carousel">
    <div id="work" class="stage stage--enjoy u-padding-Hl" data-hash="1">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Enjoy</p>
        <p class="u-text-small u-margin-An">
          Identity and art direction for a California-based company that's changing the way people buy and experience the things that matter.
        </p>
      </div>
    </div>
    <div id="work" class="stage stage--minale u-padding-Hl" data-hash="2">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Minale & London</p>
        <p class="u-text-small u-margin-An">
          Identity system and responsive website for a London-based property investing service that promises clients a touch of magic.
        </p>
      </div>
    </div>
    <div id="work" class="stage stage--design-club u-padding-Hl" data-hash="3">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Design Club</p>
        <p class="u-text-small u-margin-An">
          Identity and art direction for a California-based company that's changing the way people buy and experience the things that matter.
        </p>
      </div>
    </div>
    <div id="work" class="stage stage--venmo u-padding-Hl" data-hash="4">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Venmo</p>
        <p class="u-text-small u-margin-An">
          Identity and art direction for a California-based company that's changing the way people buy and experience the things that matter.
        </p>
      </div>
    </div>
    <div id="work" class="stage stage--facebook u-padding-Hl" data-hash="5">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Facebook</p>
        <p class="u-text-small u-margin-An">
          Identity and art direction for a California-based company that's changing the way people buy and experience the things that matter.
        </p>
      </div>
    </div>
    <div id="work" class="stage u-padding-Hl" data-hash="6">
      <div class="stage__inner">
        <p class="u-text-small u-text-heavy">Mission Film & Design</p>
        <p class="u-text-small u-margin-An">
          Identity and art direction for a California-based company that's changing the way people buy and experience the things that matter.
        </p>
      </div>
    </div>
  </div>

  <div class="stage-nav u-text-small u-text-center">
    <a href="#1" class="stage-nav__button">1</a>
    <a href="#2" class="stage-nav__button">2</a>
    <a href="#3" class="stage-nav__button">3</a>
    <a href="#4" class="stage-nav__button">4</a>
    <a href="#5" class="stage-nav__button">5</a>
    <a href="#6" class="stage-nav__button">6</a>
  </div>

<div class="site-wrapper">
  
  {{ content }}
  
</div>
